version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: lucca_user
      POSTGRES_PASSWORD: lucca_pass
      POSTGRES_DB: lucca_db  # DB pour ton script
    ports:
      - "5433:5432"  # sur Mac pour DBeaver
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      bash -c "
        docker-entrypoint.sh postgres &
        until pg_isready -U lucca_user -d lucca_db; do
          echo 'Waiting for Postgres...'
          sleep 1
        done
        psql -U lucca_user -d lucca_db -c 'CREATE DATABASE IF NOT EXISTS airflow_db;'
        wait
      "

  airflow:
    image: apache/airflow:2.7.1
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      _PIP_ADDITIONAL_REQUIREMENTS: "cryptography"
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      # La connexion doit pointer vers airflow_db
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://lucca_user:lucca_pass@postgres:5432/airflow_db
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./api_request:/opt/airflow/api_request
    command: >
      bash -c "
        # attendre que Postgres soit prêt
        until pg_isready -h postgres -p 5432; do
          echo 'Waiting for Postgres...';
          sleep 2;
        done;

        # initialiser la DB airflow
        airflow db upgrade;

        # créer l'utilisateur admin si pas existant
        airflow users create \
          --username $AIRFLOW_ADMIN_USERNAME \
          --firstname $AIRFLOW_ADMIN_FIRSTNAME \
          --lastname $AIRFLOW_ADMIN_LASTNAME \
          --role Admin \
          --email $AIRFLOW_ADMIN_EMAIL \
          --password $AIRFLOW_ADMIN_PASSWORD || true;

        # lancer scheduler + webserver
        airflow scheduler & airflow webserver
      "

volumes:
  postgres_data:
